<h1>Add a movie in <%= @list.name %></h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, selected: 1%>
  <%= f.submit "Submit bookmark", class: "btn btn-primary" %>
<% end %>
